body {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}

.center {
    display: block;
    margin: 0 auto;
}

.jumbotron {
    background-color: #999999;
}

.caption h3 {
    text-decoration: underline;
}

.glyphicon {
  padding-left: 5px;
}

.row {
  margin-top: 5px;
}

.note {
    margin: 6px 0;
    font-size: 12px;
    font-style: italic;
}

.glyphicon {
    padding-left: 0px;
    padding-right: 3px;
}

.loading {
    color: #eee;
}

.copyright, .copyright a {
    color: #aaa;
}

ol li img {
    display: inline-block;
    border: 0;
    margin: 4px 0 10px 0;
}

input[type=number] {
    width: 80px;
}

/*Sample App*/

.section {
    clear: both;
    overflow: hidden;
    display: block;
    border-bottom: solid 1px #e5e5e5;
}

.left {
    float: left;
    width: 70%;
    position: relative;
    padding: 40px 0;

}

.left .content {
    width: 560px;
}

.right {
    float: right;
    width: 30%;
    position: relative;
    padding: 40px 0;
}

.gray-text-box {
    background-color: #f5f5f5;
    padding: 24px;
}


/*table*/
.products th {
    min-width: 100px;
}

.products td {
    vertical-align: middle !important;
    border-collapse: collapse;
    min-width:100px;
}

.quantity {
    text-align: right;
    padding-right: 30px;
}

/* Buttons */

button {
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.34);
    border-radius: 2px;
    border: none;
    margin: 6px 12px 6px 0px;
    padding: 4px 12px;
    font-size: 13px;
}

button.gray {
    color: #4c4c4c;
    background:#f8f8f8;
}

button.gray:hover {
    background: #ececec;
}

button.gray:active {
    background: #dadada;
}

button.blue {
    color: white;
    background: #458ef9;
}

button.blue:hover {
    background: #3977d0;
}

button.blue:active {
    background: #265BAA;
}

/* Fonts */

h4 {
    color: #404040;
    font-size: 24px;
}

td p {
    color: #4c4c4c;
}

p {
    margin: 6px 0 10px 0;
    color: #777;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p .keyword {
    color: #83c252;
}

a {
    color: #458ef9;
}

a:hover {
    cursor: pointer;
}

nav {
    background: linear-gradient(to right, #458ef9, #67b2ef) ;
    top: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1000;
}