<div ng-controller="businessTransactionController" class="section">
    <div class="left">
        <h4>Normal Business Transactions</h4>

        <div class="content">
            <p>
                Click the buttons to reset the inventory, and to add or remove products. Observe what business transactions are created by agents and how the calls per minute and average response times are shown.
            </p>
        </div>

        <table class="products">
            <thead>
            <tr>
                <th>
                    <p>Item</p>
                </th>
                <th class="quantity">
                    <p>Quantity</p>
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="product in products">
                <td>
                    <p>{{product.name}}</p>
                </td>
                <td class="quantity">
                    <p style="margin-top: 9px;">{{product.stock}}</p>
                </td>
                <td>
                    <button type="button" ng-click="product.save(false)" ng-disabled="product.loading" class="gray"> Add One
                    </button>

                    <button type="button" ng-click="product.save(true)" ng-disabled="product.loading" class="gray"> Remove One
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <button type="button" class="gray" style="margin-top: 23px; margin-bottom: 40px;" ng-click="reset()"></span> Reset Fruit Stand</button>
    </div>

    <div class="right">
        <div class="gray-text-box">
            <h5>What is a Business Transaction</h5>

            <p>A business transaction represents the end-to-end processing path used to fulfill a service request in the monitored environment.
            When you connect agents to a Controller, the Controller automatically generates a list of business transactions based on the activity that the agents detect.</p>

            <br>

            <a ng-click="openController('Business Transaction List')">View Business Transaction List</a>
        </div>
    </div>


</div>