<div ng-controller="ExceptionsController" class="section">

    <div class="left">
        <h4>Error Detection</h4>

        <div class="content">
            <p>Click these buttons to simulate errors in the various components of the sample application, and observe how these are captures and presented.</p>
        </div>

        <br>

        <button type="button" class="gray" ng-click="raiseNodeException()" ng-disabled="raisingNode">Create Node Tier Error<span ng-show="exceptionsNode > 0"> ({{getNodeExceptions()}})</span></button>

        <button type="button" class="gray" ng-click="raiseJavaException()" ng-disabled="raisingJava">Create Java Tier Error<span ng-show="exceptionsJava > 0"> ({{getJavaExceptions()}})</span></button>

        <button type="button" class="gray" ng-click="raiseSqlException()" ng-disabled="raisingSql">Create Database Tier Error<span ng-show="exceptionsSql > 0"> ({{getSqlExceptions()}})</span></button>
    </div>

    <div class="right">
        <div class="gray-text-box">
            <h5> Errors and Exceptions</h5>

            <p>AppDynamics captures and presents information on business transaction errors in the monitored environment</p>

            <br>

            <a>View Errors and Exceptions</a>
        </div>
    </div>


</div>