<div class="container">
    <div style="margin-top: 96px;">

        <div class="section">
            <h3> Select a Deployment Method</h3>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Deploy
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-click="onSelectDeployment('DOCKER')"><a href="#docker">Docker</a></li>
                    <li ng-click="onSelectDeployment('GITHUB')"><a href="#github">Github</a></li>
                    <li ng-click="onSelectDeployment('PAAS')"><a href="#pass">PaaS</a></li>
                </ul>
            </div>
        </div>


        <div class="section" id="docker" ng-show="selectedDeployment == 'DOCKER'">
            <h3> Docker </h3>

            <div>
                <div class="ads-prerequisites-box">
                    <h5>Prerequisites</h5>
                    <p>
                        Docker installed on your machine
                    </p>
                </div>

                <br>

                <ol>
                    <li style="padding-bottom: 14px;">
                        Pull the sample application source code from GitHub and use as your application in the Getting Started Wizard
                        <br>
                        <div class="code">
                            git clone https://github.com/Appdynamics/SampleApp.git
                        </div>
                    </li>
                    <li  style="padding-bottom: 14px;">
                        <div class="code">
                            cd SampleApp
                        </div>
                    </li>
                    <li  style="padding-bottom: 14px;">
                        Download the Agent
                        <br>
                        <div class="code">
                            curl http:download.appdynamics.com -- output AppServerAgent.zip
                        </div>
                    </li>
                    <li  style="padding-bottom: 14px;">
                        Build and run the Docker container
                        <br>
                        <div class="code">
                            docker-compose up
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div class="section" id="github" ng-show="selectedDeployment == 'GITHUB'">
            <h3> Github </h3>

            <p> Pull the sample application source code from GitHub and use as your application in the Getting Started Wizard</p>
            <div class="code">
                git clone https://github.com/Appdynamics/SampleApp.git
            </div>
        </div>

        <div class="section" id="pass" ng-show="selectedDeployment == 'PAAS'">
            <h3> PaaS</h3>

            <div>
                Prerequisites
                <p>PaaS account</p>
                <p>Instrument the sample application using a PaaS platform</p>
            </div>
        </div>

        <button class="button" ng-click="goToGettingStarted()" ng-show="selectedDeployment !==''"> Launch AppDynamics Controller </button>

    </div>
</div>