<div class="container">

    <div class="row" style="margin-top: 96px; display: block">
        <h1>
            What do you want to Monitor?
        </h1>

        <div class="col-lg-4">
            <h5>
                User Experience - Mobile
            </h5>

            <div class="ads-getting-started-item"
                 ng-click="goToGettingStartedInstructions(true)"
                 style="background-image:url('img/android.svg')">
                Android
            </div>

            <div class="ads-getting-started-item"
                 ng-click="goToGettingStartedInstructions(true)"
                 style="background-image:url('img/ios.svg')">
                iOS
            </div>

        </div>

        <div class="col-lg-4">
            <h5>
                Applications and Databases
            </h5>
            <div class="ads-getting-started-item"
                 ng-click="goToGettingStartedInstructions(false)"
                 style="background-image:url('img/appDynamicsController_green.svg')">
                Java, Node.js & Database
            </div>

        </div>
    </div>
</div>
